<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 	  
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\popcuash-internal.log"
      internalLogLevel="Info" >	

	<targets>
		<target name="debugger" xsi:type="Debugger" 				
				layout="[${time}][${processid}][${level}] [${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true:includeNamespace=false}] - ${message} ${onexception:${newline}${exception:format=ToString,StackTrace,Separator=\r\n:exceptionDataSeparator=\r\n}}"/>

		<target name="logInfoFile" xsi:type="File"			
				layout="[${time}][${processid}][${level}] [${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true:includeNamespace=false}] - ${message} ${onexception:${newline}${exception:format=ToString,StackTrace,Separator=\r\n:exceptionDataSeparator=\r\n}}"
			fileName="${basedir}/Logs/Info/${shortdate}.txt"/>
		
		<target name="logDebugFile" xsi:type="File"
				layout="[${time}][${processid}][${level}] [${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true:includeNamespace=false}] - ${message} ${onexception:${newline}${exception:format=ToString,StackTrace,Separator=\r\n:exceptionDataSeparator=\r\n}}"
			fileName="${basedir}/Logs/Debug/${shortdate}.txt"/>
		
				layout="[${time}][${processid}][${level}] [${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true:includeNamespace=false}] - ${message} ${onexception:${newline}${exception:format=ToString,StackTrace,Separator=\r\n:exceptionDataSeparator=\r\n}}"
			fileName="${basedir}/Logs/Error/${shortdate}.txt"/>
		
		<target name="logScriptFile" xsi:type="File"
				layout="[${time}][${processid}][${level}] [${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true:includeNamespace=false}] - ${message} ${onexception:${newline}${exception:format=ToString,StackTrace,Separator=\r\n:exceptionDataSeparator=\r\n}}"
			fileName="${basedir}/Logs/Script/${shortdate}.txt"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logInfoFile" />
		<logger name="*" minlevel="Debug" writeTo="logDebugFile, debugger" />
		<logger name="*" minlevel="Error" writeTo="logErrorFile" />	
		<logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="logScriptFile" />
	</rules>
</nlog>